body {
    background-color: rgba(210, 210, 210, 0.411);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

.root {
    background-color: rgb(255, 255, 255);
    height: 75vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 12vh;
    -webkit-box-shadow: 0px 0px 22px -1px #0000007a;
    box-shadow: 0px 0px 22px -1px #0000007a;
}

.top_container {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center;
    padding: 1rem;
    margin-left: 10%;
    margin-top: 5%;
    height: 10vw;
}

.icon{
    
    width: "100vh";
    border: 1px solid black;
    border-radius: 5px;
}

.title_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2rem;
}

.title{
    margin-bottom: 0px;
}

.description{
    font-size: 20px;
    width: 40vw;
}

.bottom_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
    height: 10vh;
}

.screenshot{
    padding-right: 1rem;
}